:root{
    --primary:black;
}
*{
    box-sizing: border-box;
    font-family: monospace;

}
body{
    background-color: #222 !important;
    overflow: hidden;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80vmin;
    width: 80vmin;
    perspective: 1000px;
    cursor: pointer;
}
.analog,.digital{
    transition: 1.5s;
}
.analog{
    width: 100%;
    height: 100%;
    position: relative;
    border: 10px solid white;
    box-shadow:  inset 0 0 15px #222;
    border-radius: 50%;
    transform-style: preserve-3d;
    background-color: white;
    backface-visibility: hidden;
}
.analog img{
    position: absolute;
    height: 60%;
    top: 40%;
    left: 70%;
    transform: translate(-50%,-50%);
}
.analog>span{
    position: absolute;
    text-align: center;
    padding: .8em;
    height: 100%;
    width: 100%;
    transform: rotate(calc(30deg*var(--i)));
    
}
.analog>span::after{
    content: '';
    height: 5%;
    width: 1px;
    background-color: var(--primary);
    position: absolute;
}
.dot{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3%;
    width: 3%;
    border: 2px solid var(--primary);
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 5px #222;
}
.hour,.min,.sec{
    transform-origin: 50% 100%;
    box-shadow: 0 0 5px #222;
}
.hour{
    position: absolute;
    height: 25%;
    width: 1.3%;
    border-radius: 100% 100% 0 0; 
    background-color: var(--primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
}

.min{
    position: absolute;
    height: 35%;
    width: 0.75%;
    border-radius: 100% 100% 0 0;
    background-color: var(--primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
}
.sec{
    position: absolute;
    height: 45%;
    width: 1px;
    border-radius: .3em;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
}
.date_box{
    width: 100%;
    height: 100%;
    position: relative;
}
.date{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    font-size: large;
    padding: .2em;
    border-radius: .1em;
    box-shadow: inset 1px 1px 5px #555;

}
.digital{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 25vmin;
    width: 80vmin;
    background-color: white;
    transform-style: preserve-3d;
    padding: .7em;
    backface-visibility: hidden;
    border-radius: .5em;
}
#time{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    box-shadow: inset 1px 1px 10px #222;
}
#time :nth-child(1){
    font-size: 11vmin !important;
}
#time :nth-child(2){
    font-size: 2vmin;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
